[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
setuptools = "*"
twine = "*"
pytest-cov = "*"

[dev-packages]
setup-cfg-fmt = "*"
flake8 = "*"

[requires]
python_version = "3.9"
